<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to <%= title %><br><br>Written by: <a href="http://anoop.me">Anoop Kumar</a><br><br>Published on: <a href="#">anoop.com</a></p>
    <p>Get list of All Users <a href="http://localhost:3000/users">Users</a></p>
    <p>Get list of All Books <a href="http://localhost:3000/books">Books</a></p>
  </body>
</html>
